@{
    ViewData["Title"] = "Bug Dashboard";
}

<div style="background-color: #f8f9fa;" class="text-center bg-white rounded p-4">
    <h2 class="d-flex justify-content-start">All Bugs</h2>
    <div class="d-flex">

        <div class="bg-secondary rounded p-2 me-2 w-50">
            <h4 class="d-flex justify-content-start text-white">New</h4>
            <div class="p-2">
                <div class="bg-white rounded p-2">
                    <div class="d-flex justify-content-between">
                        <h5>Dashboard Route not Found</h5>

                        <h6 class="text-danger">severe</h6>
                    </div>

                    <div>
                        <p class="d-flex justify-content-start">Description:</p>
                        <p>Local host is not finding the "BugDashboard" route</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-secondary rounded p-2 me-2 w-50">
            <h4 class="d-flex justify-content-start text-white">Resolved</h4>
            <div class="p-2">
                <div class="bg-white rounded p-2">
                    <div class="d-flex justify-content-between">
                        <h5>Dashboard Route not Found</h5>

                        <h6 class="text-danger">severe</h6>
                    </div>

                    <div>
                        <p class="d-flex justify-content-start">Description:</p>
                        <p>Local host is not finding the "BugDashboard" route</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-secondary rounded p-2 me-2 w-50">
            <h4 class="d-flex justify-content-start text-white">Reopened</h4>
            <div class="p-2">
                <div class="bg-white rounded p-2">
                    <div class="d-flex justify-content-between">
                        <h5>Dashboard Route not Found</h5>

                        <h6 class="text-danger">severe</h6>
                    </div>

                    <div>
                        <p class="d-flex justify-content-start">Description:</p>
                        <p>Local host is not finding the "BugDashboard" route</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>