@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: #f8f9fa;" class="text-center bg-white rounded p-5">
    <h1 class="mb-5">Welcome to the Great Bug Tracker</h1>
    <h3 class="mb-4">Let's get you started by adding a project!</h3>
    <button style="font-size: 40px; width: 75px; height: 75px; border-radius: 35px;" class="btn btn-secondary">+</button>
</div>
