@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: #f8f9fa;" class="text-center bg-white rounded p-5">
    <h1 class="mb-5">Welcome to the Great Bug Tracker</h1>
    <h3 class="mb-4">Let's get you started by adding a project!</h3>
    <a asp-action="ProjectForm" asp-controller="Project">
        <img style="width: 75px; height: 75px;"
            src="https://th.bing.com/th/id/R.a97275781f69f84b99ac5ca7cb8a446b?rik=1GaAhEetDRE9Zw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_28497.png&ehk=xhSdzxxsoOGljNGrOiFPEdKBh58KIa2WXs2h%2fxL%2ftBE%3d&risl=&pid=ImgRaw&r=0"
            alt="Plus button">
    </a>
</div>
