@{
    ViewData["Title"] = "My Projects";
}


<div class="d-flex justify-content-center">
    <div style="background-color: #f8f9fa; " class="text-center bg-white rounded p-4 w-50">
        <div class="d-flex justify-content-between">
            <h2 style="color: #6f42c1;" class="d-flex justify-content-start w-100">Your Projects</h2>
            <a asp-action="ProjectForm" asp-controller="Project" style="background-color: #cce5ff;" class="btn text-start rounded  ms-5 fs-5 w-75 h-25">+ Add a Project</a>
        </div>
        <hr>

        <div style="height: 500px; overflow: auto;" class="">
            @foreach (var project in Model)
            {
                <a class="btn bg-secondary text-white text-start fs-5 w-100" asp-action="ViewProject" asp-route-projectId="@project.ProjectId">@project.ProjectName</a>
            }
        </div>
    </div>
</div>